<app-header></app-header>

<div class="returnpolicy-container">
  <a class="inactive">
    GAME&nbsp;Returns Policy
    <i class="fa fa-minus"></i>
  </a>
  <div class="accordion-content" style="display: block">
    <p dir="ltr">
      GAME Offer a 1 Year Warranty with all products purchased this covers all
      aspects of manufacturing faults, if your item becomes faulty within the
      first year of use please read the below on how to get this refunded or
      replaced. If you cannot find the answer below please contact our Help
      Team!
    </p>
    <ul data-identifyelement="480">
      <li data-identifyelement="481">
        <strong data-identifyelement="482"
          >When does the GAME returns policy apply Online?&nbsp;</strong
        >We offer a 28 day right to a refund or exchange (subject to
        availability) on our products (excluding gift vouchers/gift
        cards<strong>*</strong>) ordered online, provided that:
        <ul data-identifyelement="483">
          <li data-identifyelement="484" dir="ltr">
            The product is returned within 28 days of delivery;
          </li>
          <li data-identifyelement="485" dir="ltr">
            You have a valid proof of purchase (which can include any of the
            following documents):
            <ol data-identifyelement="486">
              <li data-identifyelement="487">Online Dispatch note.</li>
              <li data-identifyelement="488">Reward card record.</li>
            </ol>
          </li>
          <li data-identifyelement="490" dir="ltr">
            The product is returned in its original condition (unopened and
            unused). Please note hardware or accessories purchased online may be
            opened for the purpose of inspection (but not used);
          </li>
          <li data-identifyelement="491" dir="ltr">
            The product is in its original packaging and is sealed;
          </li>
          <!-- <li data-identifyelement="491" dir="ltr"> -->
            <!-- If you are returning an Xbox Console or Controller the serial number
            must match the one on your proof of purchase; -->
          <!-- </li> -->
          <li data-identifyelement="492" dir="ltr">
            The product and/or digital content has not become mixed inseparably
            with other items after their purchase;
          </li>
          <li data-identifyelement="493" dir="ltr">
            The product is complete and contains all component parts as
            purchased. Items purchased as part of a combined product (for
            example a combined hardware, games and accessories bundle) can only
            be returned if all items in the combined product are returned
            together;
          </li>
          <li data-identifyelement="494" dir="ltr">
            The product is re-sellable;
          </li>
          <li data-identifyelement="496" dir="ltr">
            If returning hardware, all the components (cables, memory sticks,
            controllers, etc.) must be returned;
          </li>
          <li data-identifyelement="497" dir="ltr">
            The customer is the original purchaser of the product;
          </li>
          <li data-identifyelement="498" dir="ltr">
            In respect of Microsoft Digital Credit, when returning the item;
            <ol data-identifyelement="499">
              <li data-identifyelement="500" dir="ltr">
                You have a valid proof of purchase and the receipt displaying
                the code; and
              </li>
              <!-- <li data-identifyelement="501" dir="ltr">
                The code has not been redeemed via Xbox Live
              </li> -->
            </ol>
          </li>
          <li data-identifyelement="502" dir="ltr">
            In our reasonable opinion, you have not behaved fraudulently nor are
            you engaging in any fraudulent activity.
          </li>
          <li data-identifyelement="506">
            Pokémon Trading Card Packs, Tins &amp; Boxes cannot be returned for
            a refund or an exchange once opened (including exchanges of any
            single card or the pack, tin or box as a whole).
          </li>
        </ul>
      </li>
      <li data-identifyelement="503">
        <strong data-identifyelement="504"
          >When does the GAME returns policy apply In-store?&nbsp;</strong
        >We offer a 28 day right to an exchange (subject to availability) or
        credit note on our products (excluding gift vouchers/gift cards*)
        purchased in-store and returned in-store, provided that:
        <ul data-identifyelement="505">
          <li data-identifyelement="506" dir="ltr">
            The product is returned within 28 days of purchase;
          </li>
          <li data-identifyelement="507" dir="ltr">
            You have a valid proof of purchase which can include any of the
            following documents:
            <ol data-identifyelement="508">
              <li data-identifyelement="509">Receipt.</li>
              <li data-identifyelement="510">Reward card record.</li>
              <li data-identifyelement="511">
                Bank statement or credit card statement.
              </li>
            </ol>
          </li>
          <li data-identifyelement="512" dir="ltr">
            The product is returned in its original condition (unopened and
            unused).&nbsp;
          </li>
          <!-- <li data-identifyelement="512" dir="ltr">
            If you are returning an Xbox Console or Controller the serial number
            must match the one on your receipt;
          </li> -->
          <li data-identifyelement="513" dir="ltr">
            The product and/or digital content has not become mixed inseparably
            with other items after their purchase;
          </li>
          <li data-identifyelement="514" dir="ltr">
            The product is complete and contains all component parts as
            purchased. Items purchased as part of a combined product (for
            example a combined hardware and games product) can only be returned
            if all items in the combined product are returned together;
          </li>
          <li data-identifyelement="515" dir="ltr">
            The product is re-sellable;
          </li>
          <li data-identifyelement="516" dir="ltr">
            Products bought in a discounted or promotional offer (including 3
            for 2, hardware and software packs) if returned separately, will
            result in the full price being charged for other items in the offer.
            Your applicable uk/hc/en-gb/articles/360002358478exchange value or
            credit note value will be adjusted accordingly. This includes
            digital and download copies of games and movies;
          </li>
          <li data-identifyelement="517" dir="ltr">
            If returning hardware, all the components (cables, memory sticks,
            controllers, etc.) must be returned;
          </li>
          <li data-identifyelement="518" dir="ltr">
            The customer is the original purchaser of the product;
          </li>
          <!-- <li data-identifyelement="519" dir="ltr">
            In respect of Microsoft Digital Credit, when returning the item;
            <ol data-identifyelement="520">
              <li data-identifyelement="521" dir="ltr">
                You have a valid proof of purchase and the receipt displaying
                the code; and
              </li>
              <li data-identifyelement="522" dir="ltr">
                The code has not been redeemed via Xbox Live
              </li>
            </ol>
          </li> -->
          <li data-identifyelement="523" dir="ltr">
            In our reasonable opinion, you have not behaved fraudulently nor are
            you engaging in any fraudulent activity.
          </li>
          <li data-identifyelement="507">
            Pokémon Trading Card Packs, Tins &amp; Boxes cannot be returned for
            a refund or an exchange once opened (including exchanges of any
            single card or the pack, tin or box as a whole).
          </li>
        </ul>
      </li>
      <li data-identifyelement="524">
        <strong data-identifyelement="525">GAME Gift Cards.</strong> You cannot
        rely on the GAME returns policy for a refund or exchange of gift cards.
        This will not affect your statutory rights (for example in the event the
        gift card is faulty).
      </li>
      <li data-identifyelement="526">
        <strong data-identifyelement="527"
          >The GAME returns policy will not effect your legal
          rights.&nbsp;</strong
        >Please note that for the purposes of orders placed online, over the
        telephone, via email or mail order, our return policy is in addition to
        your legal 14 day right to change your mind and will not affect your
        legal rights (<a
          data-identifyelement="528"
          href="https://www.help.game.co.uk/hc/en-gb/articles/360002358478"
          target="_self"
          ><strong data-identifyelement="529">click here</strong></a
        >
        for more information on how to exercise your right to change your mind).
      </li>
      <li data-identifyelement="530" dir="ltr">
        <strong data-identifyelement="531"
          >How to return your product under the GAME returns
          policy?&nbsp;</strong
        >Items purchased in store must be returned to a store. Items purchased
        online must be posted back to us at the address below. Please remember
        to obtain Proof of postage from the Post Office. Please refer to the
        Extra Large Items section of the Terms and Conditions for outsize items.
      </li>
    </ul>
    <!-- <p data-identifyelement="532">
      Returns Department - Game Retail Limited<br
        data-identifyelement="533"
      />Unity House, Telford Road<br data-identifyelement="534" />Basingstoke<br
        data-identifyelement="535"
      />Hampshire<br data-identifyelement="536" />RG21 6YJ
    </p> -->
    <p data-identifyelement="537" dir="ltr">
      Please complete a covering letter which states the following:
    </p>
    <ol data-identifyelement="538">
      <li data-identifyelement="539">Your order number</li>
      <li data-identifyelement="540">Reason for return</li>
      <li data-identifyelement="541">
        Whether you would like a refund or exchange
      </li>
    </ol>
    <p data-identifyelement="542">
      <strong data-identifyelement="543">Please note;</strong>
    </p>
    <ul data-identifyelement="509">
      <li data-identifyelement="510">
        <strong data-identifyelement="543"
          >No orders can be accepted by hand at the GAME Head Office all orders
          must be posted back.</strong
        >
      </li>
    </ul>
    <ul data-identifyelement="544">
      <li data-identifyelement="545">
        <strong data-identifyelement="546"
          >Collection of personal data for fraud prevention.&nbsp;</strong
        >When returning your product to a store we require certain personal
        information in order to process your return in accordance with the GAME
        returns policy. All information is collected and processed in accordance
        with our Privacy Policy which can be found at
        <strong data-identifyelement="547"
          ><a
            data-identifyelement="548"
            href="https://www.super10.live/privacy"
            rel="noopener noreferrer"
            target="_blank"
            >www.super10.live/privacy</a
          ></strong
        >.
      </li>
      <li data-identifyelement="549">
        <strong data-identifyelement="550"
          >Who will pay the costs of return</strong
        >? We will pay the costs of return:
        <ul data-identifyelement="551">
          <li data-identifyelement="552" dir="ltr">
            If the products, and/or digital content are faulty or misdescribed;
            or
          </li>
          <li data-identifyelement="553" dir="ltr">
            If you are ending the contract because we have told you of an
            upcoming change to the products, and/or digital content or these
            terms, an error in pricing or description, a delay in delivery due
            to events outside our control or because you have a legal right to
            do so as a result of something we have done wrong.
          </li>
          <li data-identifyelement="554">
            In all other circumstances (including where you are exercising your
            right to change your mind) you must pay the costs of return.
          </li>
        </ul>
      </li>
      <li data-identifyelement="555">
        <strong data-identifyelement="556"
          >How we will refund your Online purchase</strong
        >. We will refund you the price you paid for the products and/or digital
        content (including any applicable outward delivery costs) by the method
        you used for payment. However, we may make deductions from the price, as
        described below. Please note that payments made using a physical gift
        card at GAME.co.uk will be refunded as an eVoucher, which will be
        emailed to you. This is for Online purchases only.
      </li>
      <li data-identifyelement="557">
        <strong data-identifyelement="558"
          >Deductions from refunds from Online purchases if you are relying on
          our GAME returns policy</strong
        >:
        <ul data-identifyelement="559">
          <li data-identifyelement="560">
            We may reduce your refund of the price (excluding delivery costs) to
            reflect any reduction in the value of the products, if this has been
            caused by your handling them in a way which would not be permitted
            in a shop.
          </li>
          <li data-identifyelement="561">
            We may reduce your refund of the price (excluding delivery costs)
            where you fail to return each component part (cables, memory sticks,
            etc.) and to take account of the reduction in value caused by any
            damage or missing components.
          </li>
          <li data-identifyelement="562" dir="ltr">
            We may reduce your refund of the price (excluding delivery costs) if
            you wish to return a product purchased in a discounted or
            promotional offer.
          </li>
          <li data-identifyelement="563">
            If we refund you the price paid before we are able to inspect the
            products and later discover you have handled them in an unacceptable
            way, you must pay us an appropriate amount.
          </li>
          <li data-identifyelement="564">
            The maximum refund for delivery costs will be the costs of delivery
            by the least expensive delivery method we offer. For example, if we
            offer delivery of a product within 3-5 days at one cost but you
            choose to have the product delivered within 24 hours at a higher
            cost, then we will only refund what you would have paid for the
            cheaper delivery option.
          </li>
          <li data-identifyelement="564" dir="ltr">
            For outsize items, where we arrange the collection on your behalf,
            we reserve the right to deduct the delivery costs from the amount
            refunded. Please refer to the Terms and Conditions for more
            information.
          </li>
        </ul>
      </li>
      <li data-identifyelement="565" dir="ltr">
        <strong data-identifyelement="566"
          >When will your refund for an Online purchase be made?&nbsp;</strong
        >Your refund will be made
        <ul data-identifyelement="567">
          <li data-identifyelement="569" dir="ltr">
            Within 14 Working days when returned to our refund department. (This
            is a heightened figure and returns could be processed quicker)
          </li>
        </ul>
      </li>
    </ul>

    <div class="voting-section">
      <p
        class="article-vote"
        id="voting-container_80000620493"
        data-user-id=""
        data-article-id="80000620493"
        data-language="en"
      >
        Did you find it helpful?
        <span
          data-href="/en/support/solutions/articles/80000620493/thumbs_up"
          class="vote-up a-link"
          id="article_thumbs_up"
          data-remote="true"
          data-method="put"
          data-update="#voting-container_80000620493"
          data-user-id=""
          data-article-id="80000620493"
          data-language="en"
          data-update-with-message="Glad we could be helpful. Thanks for the feedback."
        >
          Yes</span
        >
        <span class="vote-down-container">
          <span
            data-href="/en/support/solutions/articles/80000620493/thumbs_down"
            class="vote-down a-link"
            id="article_thumbs_down"
            data-remote="true"
            data-method="put"
            data-update="#vote-feedback-form_80000620493"
            data-user-id=""
            data-article-id="80000620493"
            data-language="en"
            data-hide-dom="#voting-container_80000620493"
            data-show-dom="#vote-feedback-container_80000620493"
          >
            No</span
          >
        </span>
      </p>
      <a
        class="hide a-link feedback-again"
        id="vote-feedback-form-link_80000620493"
        data-hide-dom="#vote-feedback-form-link_80000620493"
        data-show-dom="#vote-feedback-container_80000620493"
        >Send feedback</a
      >
      <div id="vote-feedback-container_80000620493" class="hide vote-feedback">
        <div class="lead">
          Thanks for the feedback. We will improve this article.
        </div>
        <div class="hide" id="vote-feedback-form_80000620493">
          <div class="sloading loading-small loading-block">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
