<app-navmenu></app-navmenu>
    <section class="hero-section">
        <div class="container">
            <div class="hero-content">
                <h4 class="title mb-0">Deposit history</h4>
            </div>
        </div>
        
    </section>
    <section class="dashboard-section">
        <div class="container">
            <div class="pb-120">
                <div class="text-end mb-4">
                    <button class="cmn--btn btn--sm" (click)="goToDeposit()">Deposit now</button>
                </div>
                <div class="table-responsive">
                    <table class="cmn--table">
                        <thead>
                            <tr>
                                <th>Transaction ID</th>
                                <th>
                                    Gateway
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Time
                                </th>
                                <th>
                                    More
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </section>
<app-footer></app-footer>