<div class="screen">
  <nav class="navbar menu-nav navbar-light bg-light">
    <div class="container-fluid menu-nav-bar top-nav-bar">
      <div>
        <img src="../../../assets/logo.jfif" alt="logo" class="logo" />
      </div>
      <div class="d-flex">
        <div>
          <i class="fa-solid fa-bars"></i>
        </div>

        <ul class="menu-list">
          <li class="menu-list-item c-point"></li>
        </ul>
        <div class="dropdown">
          <!-- profile icon -->
          <img
            class="avatar dropbtn"
            src="http://localhost:8000/assets/images/avatar.png"
          />
          <div class="dropdown-content">
            <a></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="top-container">
    <div class="left-pane">
      <strong> <h2>Bets</h2></strong>
      <ul class="left-pane-list">
        <li>Bet 1</li>
        <li>Bet 2</li>
        <li>Bet 3</li>
      </ul>
    </div>
    <div class="middle-iframe">
        <h2 class="user-balance"><strong>Balance: 100 eur</strong></h2>
      <iframe id="game-frame" [src]="url"></iframe>
    </div>

    <div class="right-pane">
      <strong><h2>Options</h2></strong>
      <ul class="right-pane-list">
        <li>Place</li>
        <li>Fold</li>
        <li>Pass</li>
      </ul>
      <input
        type="number"
        name="amount"
        id="amount"
        placeholder="Enter bet amount"
      />
      <button class="btn btn-success">Bet now</button>
    </div>
  </div>
  <div class="bottom-container">
    <h2><strong>Matches</strong></h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Match id</th>
          <th scope="col">Players</th>
          <th scope="col">Wins</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>d8a7s</td>
          <td>player 1</td>
          <td>Lost</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>ad9a</td>
          <td>player 2</td>
          <td>Won</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">asd7a8</td>
          <td>player 3</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <button (click)="(testValidate)">CLICK</button> -->
