<html>
    <body>
        <app-header></app-header>
        <div class="password-reset-page-container container container-fluid text-center">
            <h1 class="my-3">Create new password</h1>
            <form [formGroup]="forgotPasswordForm">
              <div>
                <div class="form-group">
                    <label class="lw-text my-2">New password</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="New password"/>
                  </div>
                  <div class="form-group">
                    <label class="lw-text my-2">Confirm password</label>
                    <input type="password" class="form-control" formControlName="confirmpassword" placeholder="Password"/>
                  </div>
                <div class="form-group">
                    <label class="lw-text my-2">Code</label>
                    <input type="text" class="form-control" formControlName="code" placeholder="Enter verification code"/>
                  </div>
                <button class="btn-primary btn-lg my-2">Reset</button>
              </div>
            </form>
        </div>
        <app-footer></app-footer>
    </body>
</html>
