/* You can add global styles to this file, and also import other style files */
body {
	margin: 0;
	padding: 0;
	background-color: #375788;
	/* background-color: #131a27; */
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

input:focus {
	outline: none;
}

/* slick Carousel */


.hero .slick-slide {
	margin: 0 15px;
}

.slick-prev,
.slick-next {
	z-index: 1
}

.hero .slick-prev {
	left: 5px;
}

.hero .slick-next {
	right: 5px;
}

.slick-prev::before,
.slick-next::before {
	opacity: 1
}

.hero .slick-slide img {
	border-radius: 5px;
}

.hero .slick-slide img {
	height: 200px;
}

.gameslides .slick-slide img {
	height: 150px;
	border-radius: 5px;
	object-fit: cover;
	width: 100%;
}

.gameslides .slick-slide {
	margin: 0 10px 0 0;
}

.gameslides .slick-prev {
	left: -10px;
}

.gameslides .slick-next {
	right: 0px;
}

.gameslides .slick-prev::before,
.gameslides .slick-next::before {
	font-size: 25px;
}

@media (min-width:568px) {}

@media (min-width:768px) {
	.hero .slick-slider {
		margin: 30px 0;
	}

	.hero .slick-prev {
		left: 65px;
	}

	.hero .slick-next {
		right: 75px;
	}

	.hero .slick-prev::before,
	.hero .slick-next::before {
		font-size: 30px;
	}

	.hero .slick-slide img {
		height: 400px;
	}
}

@media (min-width:992px) {}

@media (min-width:1200px) {}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-label {
    color: #fff !important;
}
.mat-tab-body-content {
	color: #fff
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
