<app-navmenu></app-navmenu>
<section class="receipt-card-container">
  <div class="container bootdey receipt-card">
    <div class="row invoice row-printable">
      <div class="col">
        <!-- col-lg-12 start here -->
        <div class="panel panel-default plain" id="dash_0">
          <!-- Start .panel -->
          <div class="panel-body p30">
          {{ this.tID }}
          </div>
          <div class="submit-container">
            <button (click)="confirmDeposit()">Proceed</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
