<app-header></app-header>
<div class="hero">
	<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit()"
		(breakpoint)="breakpoint()" (afterChange)="afterChange()" (beforeChange)="beforeChange()">
		<div ngxSlickItem *ngFor="let slide of slides" class="slide">
			<img src="{{ slide.img }}" alt="" width="100%">
		</div>
	</ngx-slick-carousel>
</div>
<div>
	
</div>

<div class="container-fluid">
	<mat-tab-group [selectedIndex]="tabindex">
		<mat-tab label="HOME"> </mat-tab>
		<mat-tab label="TOP">
		TOP
	 </mat-tab>
		<mat-tab label="NEW">
		New
	</mat-tab>
		<mat-tab label="LIVE"> 
			LIVE
		</mat-tab>
		<mat-tab label="Promotions" (click)="viewallpro()"> 
			Promotions
		</mat-tab>
		<mat-tab label="Tournaments"> 
			Tournaments
		</mat-tab>
	  </mat-tab-group>
	  <div class="gameslides mb-5">
		<div class="d-flex justify-content-between text-white">
			<h5>TOP</h5>
			<p (click)="viewall()">View all</p>
		</div>
		<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideGamesConfig"
			(init)="slickInit()" (breakpoint)="breakpoint()" (afterChange)="afterChange()"
			(beforeChange)="beforeChange()">
			<div ngxSlickItem *ngFor="let slide of gameSlides;let i=index" class="slide" (click)="gameInit(slide)">
				<img src="{{ slide.img }}" alt="" width="100%">
			</div>
		</ngx-slick-carousel>
	</div>


	<div class="gameslides mb-5">
		<div class="d-flex justify-content-between text-white">
			<h5>New</h5>
			<p (click)="viewall()">View all</p>
		</div>
		<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideGamesConfig"
			(init)="slickInit()" (breakpoint)="breakpoint()" (afterChange)="afterChange()"
			(beforeChange)="beforeChange()">
			<div ngxSlickItem *ngFor="let slide of gameSlides" class="slide">
				<img src="{{ slide.img }}" alt="" width="100%">
			</div>
		</ngx-slick-carousel>
	</div>

	<div class="gameslides mb-5">
		<div class="d-flex justify-content-between text-white">
			<h5>Live</h5>
			<p (click)="viewall()">View all</p>
		</div>
		<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideGamesConfig"
			(init)="slickInit()" (breakpoint)="breakpoint()" (afterChange)="afterChange()"
			(beforeChange)="beforeChange()">
			<div ngxSlickItem *ngFor="let slide of gameSlides" class="slide">
				<img src="{{ slide.img }}" alt="" width="100%">
			</div>
		</ngx-slick-carousel>
	</div>
	<div class="gameslides mb-5">
		<div class="d-flex justify-content-between text-white">
			<h5>Promotions</h5>
			<p (click)="viewallpro()">View all</p>
		</div>
		<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideGamesConfig"
			(init)="slickInit()" (breakpoint)="breakpoint()" (afterChange)="afterChange()"
			(beforeChange)="beforeChange()">
			<div ngxSlickItem *ngFor="let slide of gameSlides" class="slide">
				<img src="{{ slide.img }}" alt="" width="100%">
			</div>
		</ngx-slick-carousel>
	</div>
	<div class="gameslides mb-5">
		<div class="d-flex justify-content-between text-white">
			<h5>Tournaments</h5>
			<p (click)="viewall()">View all</p>
		</div>
		<ngx-slick-carousel (click)="gameDetail()" class="carousel" #slickModal="slick-carousel" [config]="slideGamesConfig"
			(init)="slickInit()" (breakpoint)="breakpoint()" (afterChange)="afterChange()"
			(beforeChange)="beforeChange()">
			<div ngxSlickItem *ngFor="let slide of gameSlides" class="slide">
				<img src="{{ slide.img }}" alt="" width="100%">
			</div>
		</ngx-slick-carousel>
	</div>
</div>


<app-footer></app-footer>
